.journey{
    padding:160px 0;
}

.timeline{
    position:relative;
    max-width:700px;
    margin:80px auto 0;
}

.timeline::before{
    content:"";
    position:absolute;
    left:24px;
    top:0;
    width:3px;
    height:100%;
    background:#2a2a2a;
}

.step{
    display:flex;
    gap:30px;
    margin-bottom:70px;
    position:relative;
}

.circle{
    width:50px;
    height:50px;
    border-radius:50%;
    background:var(--primary);
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:700;
    flex-shrink:0;
    box-shadow:0 0 30px rgba(255,59,48,.35);
}

.content{
    background:#161616;
    border-radius:18px;
    padding:25px;
    flex:1;
    border:1px solid rgba(255,255,255,.06);
    transition:.35s;
}

.content:hover{
    transform:translateX(10px);
    border-color:var(--primary);
}