.testimonials{

padding:170px 0;

position:relative;

overflow:hidden;

}

.testimonialSwiper{

margin-top:90px;

padding:40px 0;

overflow:visible;

}

.swiper-slide{

transition:.5s;

opacity:.35;

transform:scale(.82);

}

.swiper-slide-active{

opacity:1;

transform:scale(1);

}

.testimonial-card{

background:linear-gradient(
180deg,
rgba(255,255,255,.08),
rgba(255,255,255,.03)
);

border:1px solid rgba(255,255,255,.08);

border-radius:30px;

padding:55px;

backdrop-filter:blur(16px);

transition:.4s;

min-height:420px;

}

.testimonial-card:hover{

border-color:var(--primary);

box-shadow:
0 30px 80px rgba(255,59,48,.18);

}

.quote{

font-size:80px;

color:var(--primary);

line-height:1;

margin-bottom:10px;

}

.stars{

font-size:26px;

color:#FFD54A;

margin-bottom:25px;

}

.testimonial-card p{

font-size:1.15rem;

line-height:2;

color:#d6d6d6;

margin-bottom:50px;

}

.client{

display:flex;

align-items:center;

gap:20px;

}

.client img{

width:72px;

height:72px;

border-radius:50%;

object-fit:cover;

border:3px solid var(--primary);

}

.client h3{

font-size:1.3rem;

margin-bottom:5px;

}

.client span{

color:var(--primary);

}
